<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const emit = defineEmits<{
  (e: "login", userName: string): void;
}>();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    emit("login", loginName.value);
    console.log("asdasd");
  }
};
const reset = () => {
  form.value?.reset();
};
</script>
<template>
  <v-card width="500px" class="mx-auto">
    <v-card-title primary title> Login </v-card-title>
    <v-card-text>
      Form
      <v-form ref="form" v-model="valid">
        <v-text-field
          name="name"
          label="Login Name"
          id="id"
          :rules="[
            (v) => !!v || 'Name is required !',
            (v) => v.length >= 4 || 'Name must more than 4 letters',
          ]"
          v-model="loginName"
        >
        </v-text-field>
        <v-text-field
          name="name"
          label="Password"
          type="Password"
          :rules="[(v) => !!v || 'Password is required !']"
          v-model="password"
        >
        </v-text-field>
      </v-form>
      <!--       <pre>
      window {{ loginName }} {{ password }}
      </pre> -->
    </v-card-text>
    <v-card-actions>
      <v-btn color="success" @click="login"> Login </v-btn>
      <v-btn color="error" @click="reset"> Clear </v-btn>
    </v-card-actions>
  </v-card>
</template>
