<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World");
const isRed = ref(true);
function toggleRed() {
  isRed.value = !isRed.value;
}
const color = ref("green");
function toggleGreen() {
  color.value = color.value == "green" ? "blue" : "green";
}
</script>

<template>
  <p>
    <span v-bind:title="message">
      Hover a few sec to see my dynamic bound title wow
    </span>
  </p>
  <p :class="{ red: isRed }" @click="toggleRed">
    <span> Hover a few sec to see my dynamic bound title wow </span>
  </p>
  <p :style="{ color }" @click="toggleGreen">
    <span title="message"> green toggle to blue </span>
  </p>
</template>

<style scoped>
.red {
  color: red;
}
</style>
