<script setup lang="ts">
import { ref } from "vue";

const text = ref("Edit ME !");
const checked = ref(true);
const checkedNames = ref(["Jack"]);
const picked = ref("One");
const selected = ref("A");
const multiSelected = ref(["A"]);
</script>

<template>
  <h2>Text input</h2>
  <input v-model="text" /> {{ text }}

  <h2>Checkbox {{ checked }}</h2>
  <input type="checkbox" v-model="checked" id="checkbox" />
  <label for="checkbox"> Checked: {{ checked }} </label>
  <br />
  <!-- v-model คือ ลิ้งก์กับตัวแปรไหน ? -->

  <h2>Multiple Checkbox</h2>
  <input type="checkbox" v-model="checkedNames" id="jack" value="Jack" /> Jack
  <input type="checkbox" v-model="checkedNames" id="john" value="John" /> John
  <input
    type="checkbox"
    v-model="checkedNames"
    id="michael"
    value="Michael"
  />Michael
  <pre> {{ checkedNames }} </pre>
  <br />
  <h2>Radio</h2>
  <input type="radio" id="one" value="One" v-model="picked" />
  <label for="one">One</label>
  <br />
  <input type="radio" id="two" value="Two" v-model="picked" />
  <label for="two">Two</label>
  <br />
  <span>Picked: {{ picked }}</span>

  <h2>Select</h2>
  <select v-model="selected">
    <option disabled value="">Please select one</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ selected }}</span>

  <h2>Multi Select</h2>
  <select v-model="multiSelected" multiple style="width: 100px">
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ multiSelected }}</span>
  <br />
</template>

<style scoped></style>
