<script setup lang="ts">
import { ref } from "vue";
const message = ref("HelloWorld");

function reverseMessage() {
  message.value = message.value.split("").reverse().join(""); //Split ด้วยตัวอักษร
}

function notify() {
  alert("navigation prevented");
}
</script>

<template>
  <h1>{{ message }}</h1>
  <button @click="reverseMessage">ReverseMessage</button>
  <button v-on:click="message += '!'">Append "!"</button>
  <a herf="https://vuejs.org" @click.prevent="notify">
    A link with e.preventDefault</a
  >
</template>

<style scoped>
button,
a {
  display: block;
  margin-bottom: 1em;
}
</style>
