<script setup lang="ts">
import { ref } from "vue";

const groceryList = ref([
  { id: 0, text: "Vegetables" },
  { id: 1, text: "Cheest" },
  { id: 2, text: "Car" },
]);
</script>

<template>
  <li v-for="(item, index) of groceryList" :key="index">{{ item.text }}</li>
</template>
