<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import { ref, computed } from "vue";
import MainView from "./views/MainView.vue";
import LoginView from "./views/LoginView.vue";

const loginName = ref("");
const isLogin = computed(() => {
  return loginName.value !== "";
});

const login = (userName: string): void => {
  loginName.value = userName;
};
const logout = () => {
  loginName.value = "";
};
</script>

<template>
  <div>
    <LoginView v-if="!isLogin" @login="login" />
    <MainView v-if="isLogin" @logout="logout" />
  </div>
</template>

<style scoped></style>
